<app-section title="Buttons">
  <div class="flex-wrapper">
    <button type="button" mat-button>Primary</button>
    <button type="button" mat-button class="secondary-button">Accent</button>
    <button type="button" mat-button class="warn-button">Warn</button>
  </div>
  <div class="flex-wrapper">
    <button type="button" mat-raised-button>Primary</button>
    <button type="button" mat-raised-button class="secondary-button">
      Accent
    </button>
    <button type="button" mat-raised-button class="warn-button">Warn</button>
  </div>
  <div class="flex-wrapper">
    <button type="button" mat-flat-button>Primary</button>
    <button type="button" mat-flat-button class="secondary-button">
      Accent
    </button>
    <button type="button" mat-flat-button class="warn-button">Warn</button>
  </div>
  <div class="flex-wrapper">
    <button type="button" mat-stroked-button>Primary</button>
    <button type="button" mat-stroked-button class="secondary-button">
      Accent
    </button>
    <button type="button" mat-stroked-button class="warn-button">Warn</button>
  </div>
  <div class="flex-wrapper">
    <button type="button" mat-button class="tonal">plain</button>
    <button type="button" mat-raised-button class="tonal">raised</button>
    <button type="button" mat-flat-button class="tonal">flat</button>
    <button type="button" mat-stroked-button class="tonal">storked</button>
  </div>
  <div class="flex-wrapper">
    <button mat-button>
      <mat-icon>navigation</mat-icon>
      Navigation
    </button>
    <button mat-raised-button>
      <mat-icon>navigation</mat-icon>
      Navigation
    </button>
    <button mat-flat-button>
      <mat-icon>navigation</mat-icon>
      Navigation
    </button>
  </div>
</app-section>
<app-segement-button />
<app-icon-button />
<app-fab-button />
